<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TEST SUITE">

    <!--SUITE LEVEL PARAMETERS-->

    <parameter name="url" value="https://www.apple.com"/>
    <parameter name="browser" value="SAFARI"/>
    <parameter name="browserVersion" value="latest"/>
    <parameter name="targetRun" value="local"/>      <!--runOn options : local or browserstack-->

    <test name="UI Tests"  >
        <classes>
            <class name="com.company.project.LoginTest" />
        </classes>
    </test>

</suite>