<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TEST SUITE">

    <!--listeners-->
    <listeners>
        <listener class-name="com.company.project.utilities.retry.RetryListener"/>
        <listener class-name="com.company.project.utilities.screenshot.ScreenshotListener"/>
    </listeners>

    <!--SUITE LEVEL PARAMETERS-->
    <parameter name="url" value="https://www.apple.com"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="browserVersion" value="latest"/>
    <parameter name="targetRun" value="local"/>      <!--runOn options : local or browserstack-->

    <!--Tests-->
    <test name="UI Tests">
        <classes>
            <class name="com.company.project.login.LoginTest"/>
        </classes>
    </test>

</suite>